{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="{% static 'resultsfinal.css' %}">

</head>

<body>
    <!-- partial:index.partial.html -->
    <!doctype html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List Item Hover Effects</title>
        <link rel="stylesheet" href="{% static 'resultsfinal.css' %}">
    </head>

    <body>
        <ul>
            <li><a href="#" data-text="New House">Your new house awaits at just</a></li>
            <li><a href="#" data-text="${{ val }}">${{ val }}</a></li>
        </ul>
    </body>

    </html>
    <!-- partial -->

</body>

</html>